.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;
	padding: 1rem;
	box-sizing: border-box;
}

.modal-content {
	background-color: #fce6d6;
	padding: 1.5rem;
	border-radius: 12px;
	max-width: 600px;
	width: 90%;
	display: flex;
	flex-direction: row;
	gap: 1.5rem;
	position: relative;
	box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
}

.modal-content img {
	width: 45%;
	height: auto;
	border-radius: 10px;
	object-fit: cover;
}

.modal-info {
	width: 55%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	text-align: left;
}

.modal-info h3 {
	margin: 0;
	margin-bottom: 0.8rem;
	color: #ae5224;
	text-transform: uppercase;
	font-size: 1.6rem;
	text-align: center;
}

.modal-info p {
	margin: 0.6rem 0;
	font-size: 0.95rem;
	color: #ae5224;
}

.modal-history {
	color: #ae5224;
	font-weight: normal;
}

.modal-adopt-btn {
	margin-top: 2.5rem;
	padding: 0.5rem 1.2rem;
	border-radius: 999px;
	border: none;
	background-color: #e78c58;
	color: white;
	cursor: pointer;
	transition: all 0.4s ease;
	align-self: center;
}

.modal-adopt-btn:hover {
	background-color: #d97540;
	font-weight: bold;
	transform: scale(1.05);
}

.modal-close {
	position: absolute;
	top: 8px;
	right: 8px;
	font-size: 1.3rem;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #e78c58;
	color: white;
	border: none;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10;
}

@media (max-width: 992px) {
	.modal-content {
		max-width: 500px;
		gap: 1rem;
	}

	.modal-content img {
		width: 40%;
	}

	.modal-info {
		width: 55%;
	}
}

@media (max-width: 768px) {
	.modal-content {
		max-width: 450px;
		padding: 1rem;
		flex-direction: row;
	}

	.modal-content img {
		width: 40%;
	}

	.modal-info {
		width: 55%;
	}

	.modal-adopt-btn {
		margin-top: 1.5rem;
	}
}

@media (max-width: 576px) {
	.modal-content {
		flex-direction: column;
		max-width: 320px;
		gap: 0.8rem;
	}

	.modal-content img {
		width: 100%;
		border-radius: 8px;
		height: auto;
	}

	.modal-info {
		width: 100%;
		text-align: center;
		font-size: 0.9rem;
	}

	.modal-adopt-btn {
		width: auto;
		padding: 0.3rem 0.8rem;
		font-size: 0.85rem;
		margin: 0.8rem auto 0 auto;
		display: block;
	}

	.modal-close {
		top: 6px;
		right: 6px;
		width: 28px;
		height: 28px;
		font-size: 1.2rem;
	}
}
