.blog-section {
	padding: 2rem 1rem;
	margin: 0 auto;
	text-align: center;
	background-color: #fce6d6;
	position: relative;
}

.blog-section h3 {
	margin-bottom: 1.5rem;
	color: #ae5224;
	font-size: 26px;
	letter-spacing: 1px;
}

.blog-list {
	display: grid;
	gap: 1.5rem;
	margin-top: 2rem;
	justify-content: center;
	grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
	padding-bottom: 4rem;
}

.blog-card {
	background: #fff;
	border-radius: 14px;
	overflow: hidden;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
	text-align: left;
	transition:
		transform 0.25s ease,
		box-shadow 0.25s ease;
	max-width: 360px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.blog-card:hover {
	transform: translateY(-6px);
	box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15);
}

.blog-img {
	width: 100%;
	height: 220px;
	object-fit: cover;
	transition: transform 0.3s ease;
}

.blog-card:hover .blog-img {
	transform: scale(1.05);
}

.blog-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-grow: 1;
	padding: 1rem 1.2rem;
}

.blog-content h4 {
	color: #a0522d;
	margin-bottom: 0.5rem;
	font-size: 1.1rem;
}

.blog-content p {
	color: #444;
	font-size: 0.9rem;
	line-height: 1.5;
	flex-grow: 1;
}

.read-more {
	align-self: flex-end;
	color: #e78c58;
	text-decoration: underline;
	font-size: 0.85rem;
	cursor: pointer;
}

.read-more::after {
	content: ' >';
	font-weight: 700;
}

.read-more:hover {
	color: #ae5224;
	transform: translateX(1px);
}

.blog-section > .adopt-button {
	bottom: 1.5rem;
	right: 1.5rem;
	background-color: #e78c58;
	color: #fff;
	font-size: 0.9rem;
	font-weight: bold;
	padding: 0.6rem 1.5rem;
	border: none;
	border-radius: 999px;
	cursor: pointer;
	transition: all 0.3s ease;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.blog-section > .adopt-button:hover {
	background-color: #d97540;
	transform: scale(1.05);
}

@media (max-width: 768px) {
	.blog-list {
		gap: 1rem;
	}

	.blog-img {
		height: 200px;
	}

	.blog-section > .adopt-button {
		font-size: 0.85rem;
		padding: 0.5rem 1.2rem;
		bottom: 1rem;
		right: 1rem;
	}
}

@media (max-width: 620px) {
	.blog-list {
		grid-template-columns: 1fr;
		justify-items: center;
		gap: 1.5rem;
	}

	.blog-card {
		width: 100%;
		max-width: 360px;
	}

	.blog-img {
		height: 180px;
	}
}
